/*
    Yum Juices stylesheet
    Author: David Long (dlong06)
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    width: 100%;
    background-color: #fcf5da;
}

#container {
    width: 960px;
    margin: 20px auto 0 auto;
    border: 1px solid black;
    background-color: #fff;
}

#banner {
    height: 65px;
    background: #fae17f url('../images/banner_bg.png') no-repeat left top;
}


#banner #logo {
    float: left;
    margin: 4px 0 0 60px;
}

#banner #basket_icon {
    float: right;
    margin: 9px 9px 0 0;
}

#menu {
    margin: 2px 0 13px 0;
    height: 24px;
    background-color: #fcf0bf;
}

#menu ul {
    clear: both;
    list-style-type: none;
}

#menu ul li {
    float: left;
    display: inline;
}

#menu ul li a {
    display: block;
    float: left;
    height: 24px;
    text-indent: -9999px;
    margin: 0 1px;
}

#menu ul li a#menu_juices {
    background-image: url("../images/menu_juices.png");
    width: 61px;
}
#menu ul li a#menu_juices:hover {
    background-image: url("../images/menu_juices_hover.png");
}

#menu ul li a#menu_smoothies {
    background-image: url("../images/menu_smoothies.png");
    width: 106px;
}
#menu ul li a#menu_smoothies:hover {
    background-image: url("../images/menu_smoothies_hover.png");
}

#menu ul li a#menu_dairy_free {
    background-image: url("../images/menu_dairy_free.png");
    width: 115px;
}
#menu ul li a#menu_dairy_free:hover {
    background-image: url("../images/menu_dairy_free_hover.png");
}

#menu ul li a#menu_gluten_free {
    background-image: url("../images/menu_gluten_free.png");
    width: 126px;
}
#menu ul li a#menu_gluten_free:hover {
    background-image: url("../images/menu_gluten_free_hover.png");
}

.page {
    display: none;
}

.page.visible {
    display: inherit;
}

.page h2 {
    clear: both;
    margin: 6px;
    color: #ff9168;
}

.product ul {
    clear: both;
    list-style-type: none;
}

.product ul li {
    float: left;
    display: block;
    width: 200px;
    height: 150px;
    border: 1px solid #fae17f;
    margin: 6px;
    padding-left: 105px;
}

.clear {
    clear: both;
}

/* Product Styles */

.lime {
    background: #fff url('../images/product/lime.jpg') no-repeat left top;
}
.apple {
    background: #fff url('../images/product/apple.jpg') no-repeat left top;
}
.orange {
    background: #fff url('../images/product/orange.jpg') no-repeat left top;
}
.lemon {
    background: #fff url('../images/product/lemon.jpg') no-repeat left top;
}
.grapefruit  {
    background: #fff url('../images/product/grapefruit.jpg') no-repeat left top;
}
.stawberrymilk  {
    background: #fff url('../images/product/stawberrymilk.jpg') no-repeat left top;
}
.blueberrymilk  {
    background: #fff url('../images/product/blueberrymilk.jpg') no-repeat left top;
}
.bananamilk   {
    background: #fff url('../images/product/bananamilk.jpg') no-repeat left top;
}
.summerfruitsmilk {
    background: #fff url('../images/product/summerfruitsmilk.jpg') no-repeat left top;
}
.stawberrybanana {
    background: #fff url('../images/product/stawberrybanana.jpg') no-repeat left top;
}
.raspberrypie {
    background: #fff url('../images/product/raspberrypie.jpg') no-repeat left top;
}
.blueberryraspberryblackberry {
    background: #fff url('../images/product/blueberryraspberryblackberry.jpg') no-repeat left top;
}
.forestfruits {
    background: #fff url('../images/product/forestfruits.jpg') no-repeat left top;
}

